name: Build and publish Docker distributions to Github Container Registry ghcr.io

on:
  push:
    branches:
    - master
    - version-*
    paths:
    - gradle.properties

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - run: echo "::set-output name=REPOSITORY_NAME::$(echo '${{ github.repository }}' | awk -F '/' '{print $2}')"
      id: meta
    - name: Read version from gradle.properties
      id: read_property
      uses: christian-draeger/read-properties@1.0.1
      with:
        path: ./gradle.properties
        property: release_version
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ghcr.io/${{ github.repository }}:${{ steps.read_property.outputs.value }}
        labels: com.exactpro.th2.${{ steps.meta.outputs.REPOSITORY_NAME }}=${{ steps.read_property.outputs.value }}
